<div class="container-fluid py-3">
    
<div align="right">
    <button mat-flat-button color="primary" (click)="addEdit(null)">Add</button>
</div>
<div>
    <table mat-table [dataSource]="contacts" matSort>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let contact">{{contact.name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let contact">{{contact.phone}}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let contact">{{contact.email}}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row" class="col-2 col-lg-1">
          <button mat-mini-fab  (click)="addEdit(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button  mat-mini-fab (click)="deleteContact(row.id)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- Row shown when there is no data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell text-center fw-bold py-3" colspan="4">No data found!</td>
  </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>